@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #192a32;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 450px;
  max-width: 93%;
}

.container .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.name {
  font-weight: bold;
  display: flex;
  font-size: 30px;
}
.name p:first-child {
  color: #36bfc0;
  margin-right: 5px;
}
.name p:last-child {
  color: #f4b230;
}

.turn {
  background-color: #203641;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  border-bottom: 3px solid #0f212b;
  display: flex;
  align-items: center;
}

.turn span {
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
}

.turn .x {
  color: #36bfc0;
}
.turn .o {
  color: #f4b230;
}

.restart {
  background-color: #a9c3cc;
  padding: 10px 15px;
  border-radius: 5px;
  border-bottom: 3px solid #0f212b;
  cursor: pointer;
  transition: all 0.4s;
}

.restart:hover {
  background-color: #8ba4ac;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.square {
  width: calc(100% / 3 - 10px);
  height: 120px;
  background-color: #203641;
  margin-bottom: 15px;
  border-bottom: 5px solid #0f212b;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.square:hover {
  background-color: #0f212b;
}

.square .x {
  color: #36bfc0;
}
.square .o {
  color: #f4b230;
}

.winner {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(15 33 43 / 52%);
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -ms-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}
.winner.fade {
  opacity: 1 !important;
}

.tround {
  background-color: #203641;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  flex-wrap: wrap;
}

.tround span {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tround p {
  font-size: 20px;
  background-color: #f4b230;
  padding: 10px 15px;
  border-radius: 5px;
  color: #0f212b;
  border-bottom: 5px solid #d49c2c;
  cursor: pointer;
}

.tround .quit {
  background-color: #ffffff;
  border-bottom: 5px solid #a9c3cc;
  margin-right: 10px;
}

.thewinner .o,
.thewinner .x {
  display: inline-block;
  font-size: 60px;
  margin-right: 10px;
}

.thewinner .o {
  color: #f4b230;
}
.thewinner .x {
  color: #36bfc0;
}

.w {
  width: fit-content;
}